<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carga Masiva</title>
</head>

<div style="margin-bottom: 30px; padding: 20px; border: 3px #41431B solid; border-radius: 20px;">

    <h2 style="margin-bottom: 30px; padding: 5px; color: #41431B;">Carga Masiva</h2>

    <a  href="/regest" style="padding:8px 15px; text-decoration:none; border-radius:5px; background-color: #41431B; color: #E3DBBB; font-weight: bolder;">
        Registrar Estudiantes</a>

    <a  href="/dashp" style="padding:8px 15px; text-decoration:none; border-radius:5px; background-color: #41431B; color: #E3DBBB; font-weight: bolder;">
        Dashboard</a>

    <a  href="/logout" style="padding:8px 15px; text-decoration:none; border-radius:5px; background-color: #41431B; color: #E3DBBB; font-weight: bolder;">
        Cerrar sesión</a>
</div>

<form method="POST" enctype="multipart/form-data" style="display: flex; flex-direction: column; width: 450px; align-items: center; background-color: #41431B; border-radius: 15px; margin: 50px;">

    <label style="padding: 5px; font-weight: bolder; color: #E3DBBB">Cargar archivo</label>
    <input style="padding: 5px; margin-bottom: 15px; border-radius: 5px; border: none;" type="file" name="archivo" required>

    <button type="submit" style="margin-bottom: 5px; background-color: #E3DBBB; color: #41431B; font-weight: bolder; border: none; border-radius: 5px; padding: 10px;">Subir</button>

</form>
 
</html>
