<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
</head>
<form method="POST" style="display: flex; flex-direction: column; width: 450px; align-items: center; background-color: #41431B; border-radius: 15px; margin: 50px;">

    <label style="padding: 5px; font-weight: bolder; color: #E3DBBB">Usuario</label>
    <input style="padding: 5px; border-radius: 5px; border: none;" type="text" placeholder="Ingrese su usuario" name="usern">

    <label style="padding: 5px; font-weight: bolder; color: #E3DBBB">Contraseña</label>
    <input style="padding: 5px; margin-bottom: 15px; border-radius: 5px; border: none;" type="password" placeholder="Ingrese su Contraseña" name="pass">

    <button type="submit" style="margin-bottom: 5px; background-color: #E3DBBB; color: #41431B; font-weight: bolder; border: none; border-radius: 5px; padding: 10px;">Ingresar</button>

</form>
 
</html>