<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuario</title>
</head>

<div style="margin-bottom: 30px; padding: 20px; border: 3px #41431B solid; border-radius: 20px;">

    <h2 style="margin-bottom: 30px; padding: 5px; color: #41431B;">Registro de estudiantes</h2>

    <a  href="/dashp" style="padding:8px 15px; text-decoration:none; border-radius:5px; background-color: #41431B; color: #E3DBBB; font-weight: bolder;">
        Dashboard</a>

    <a  href="/cg" style="padding:8px 15px; text-decoration:none; border-radius:5px; background-color: #41431B; color: #E3DBBB; font-weight: bolder;">
        Carga Masiva</a>

    <a  href="/logout" style="padding:8px 15px; text-decoration:none; border-radius:5px; background-color: #41431B; color: #E3DBBB; font-weight: bolder;">
        Cerrar sesión</a>
</div>

<form method="POST" style="display: flex; flex-direction: column; width: 450px; align-items: center; background-color: rgb(175, 200, 139); border-radius: 15px; margin: 50px;">

    <label style="padding: 5px;">Nombre</label>
    <input style="padding: 5px; border-radius: 5px; border: none;" type="text" placeholder="Ingrese el nombre del Estudiante" name="nom">

    <label style="padding: 5px;">Edad</label>
    <input style="padding: 5px; border-radius: 5px; border: none;" type="text" placeholder="Ingrese la Edad del Estudiante" name="edad">

    <label style="padding: 5px;">Carrera</label>
    <input style="padding: 5px; border-radius: 5px; border: none;" type="text" placeholder="Elija la Carrera del Estudiante" name="carrera">

    <label style="padding: 5px;">Nota 1</label>
    <input style="padding: 5px; border-radius: 5px; border: none;" type="text" placeholder="Ingrese la Nota 1" name="n1">

    <label style="padding: 5px;">Nota 2</label>
    <input style="padding: 5px; border-radius: 5px; border: none;" type="text" placeholder="Ingrese la Nota 2" name="n2">

    <label style="padding: 5px;">Nota 3</label>
    <input style="padding: 5px; border-radius: 5px; border: none;" type="text" placeholder="Ingrese la Nota 3" name="n3">

    <button type="submit" style="margin-bottom: 5px;">Registrar</button>

</form>
 
</html>
